body {
  font-size: 16px;
  padding: 10px;
}

/* Responsive para celulares */
@media (min-width: 768px) {
  body {
    font-size: 12px;
    padding: 20px;
  }
}

#list-menu {
  max-width: fit-content;
  /* background-color: gray; */
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

.btn-menu {
  margin: 0.5rem 0;
}
